{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>

    <script>
      $(document).ready( function () {
        var s1= "Name: "+ localStorage.getItem('name');
        var s2= "Email: "+localStorage.getItem('email');
        var s3= "Address: "+ localStorage.getItem('address');
        var s4= "Landmark: "+ localStorage.getItem('Landmark');
        var s5= "Age: " +localStorage.getItem('age');
        var s6= "Number: "+ localStorage.getItem('Number');

        var s7 =s1+"\n"+s2+"\n"+s3+"\n"+s4+"\n"+s5+"\n"+s6
        //alert(s7)
        //$('#details').text(s7)
        $("#details").html(s1+"<br/>"+s2+"<br/>"+s3+"<br/>"+s4+"<br/>"+s5+"<br/>"+s6);

        //alert('haha')
        $('#sub').click(function(){
          var name=$('#fullname').val();
          var email=$('#email').val();
          var address=$('#address').val();
          var Landmark=$('#Landmark').val();
          var age=$('#Age').val();
          var Number=$('#Number').val();

          if(name.length<=0||email.length<=0||address.length<=0||Landmark.length<=0||age.length<=0||Number.length<=9){

            //alert("kindly fill all the details");
          }
          else{

            localStorage.setItem('name',name);
            localStorage.setItem('email',email);
            localStorage.setItem('address',address);
            localStorage.setItem('Landmark',Landmark);
            localStorage.setItem('age',age);
            localStorage.setItem('Number',Number);
            location.reload();
          }


        });
      } );

    </script>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div clss="col-sm-12">

          <form class="form-horizontal" >
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Enter email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Full Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fullname" placeholder="Enter name" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="address" placeholder="Enter Address" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Land Mark</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Landmark" placeholder="Enter Landmark" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Age</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="Age" placeholder="Enter Age" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Number" placeholder="Enter Number" pattern="[0-9]{10}$" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" id="sub" >Submit</button>
    </div>
  </div>
</form>



        </div>




      </div>

      <div class="row">
        <div clss="col-sm-12">

          <div class="panel panel-default">
  <div class="panel-heading">Saved Details</div>
  <div class="panel-body" id="details">Panel Content</div>
      </div>



        </div>



      </div>


    </div>
  </body>
</html>
{% endblock %}
