<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Shivam Wines</title>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <style media="screen">
      html { height: 100%; }

          footer {
      text-align: center;
      padding: 3px;
      padding-top: 25px;
      background-color: Black;
      color: white;
      height: 100px;
      position: fixed;
      bottom: 0px;
      width: 100%;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home/"> Shivam Wines </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="address/">Update Address</a></li>
            <li><a href="/orders">Orders</a></li>
          </ul>
        </div>
      </div>
    </nav>
{% block content %} {% endblock %}
    <footer>
      <div class="footer">
        <div class="row">
          <div class="col-sm-6">
            <div class="small text-center float-left">
              ADDRESS : Shivam Wines - Shop No. 38, A Wing Sagar Park, <br>
              LBS Marg, Ghatkopar West, <br>
              Mumbai, Maharashtra - 400086
            </div>
          </div>
          <div class="col-sm-6">
            <div class="small text-center float-right">
              Timings : 9 A.M. to <br> 10 P.M.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
