{% extends 'base.html' %}

<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      html{
        font-family:tahoma, arial, sans-serif;
        background-color: #1f3440;
      }

    .container {
        position: relative;
        text-align:center;
        background-image: url("/images/banner.jpg");
      }

      .center {
        margin: 0;
        position: relative;
        top: 50%;
        left: 50%;
      }
    </style>

  </head>
{% block content %}
  <body style="background-color: #1f3440;">
    <div class="container center align-middle">
      <div class="row" style="margin-top: 40px;">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <div class="btn btn-lg btn-primary" onclick="window.location.href='/products'">
            Place Order
          </div>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-4">
          <div class="btn btn-lg btn-primary" onclick="window.location.href='/orders'">
            Order Status
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">

        </div>
        <div class="col-sm-2">
          <div class="btn btn-lg btn-warning" onclick="window.location.href='/disclaimer'">
            Read Disclaimer
          </div>
        </div>
        <div class="col-sm-5">

        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-4">
          <div class="btn btn-lg btn-primary" onclick="window.location.href='tel:09326474766'">
            Call:09326474766
          </div>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-4">
          <div class="btn btn-lg btn-primary" onclick="window.location.href='https://wa.me/09326474766?text=I%20Have%20An%20Order%20To%20Place'">
            WhatsApp:09326474766
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
{% endblock %}
