{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"></script>
    <script src="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <script>
      //whiskey wine vodka spirits beer
    </script>

    <style>
      html {
        height: 100%;
        font-family:tahoma, arial, sans-serif;
      }

    .center{
      margin-left: 15%;
      margin-right: 15%;
      position: relative;
      text-align:center;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      height: auto;
    }

    </style>
  </head>
  <body>
    <div class="container-fluid center"><br><br><br><br>
      <div class="row">
        <div class="col-sm-12">
          <div class="btn btn-block btn-success btn-lg">
            Whiskey
          </div>
        </div>
      </div> <br><br>
      <div class="row">
        <div class="col-sm-12">
          <div class="btn btn-block btn-success btn-lg">
            Wine
          </div>
        </div>
      </div><br><br>
      <div class="row">
        <div class="col-sm-12">
          <div class="btn btn-block btn-success btn-lg">
            Vodka
          </div>
        </div>
      </div><br><br>
      <div class="row">
        <div class="col-sm-12">
          <div class="btn btn-block btn-success btn-lg">
            Beers
          </div>
        </div>
      </div><br><br>
      <div class="row">
        <div class="col-sm-12">
          <div class="btn btn-block btn-success btn-lg">
            Spirits
          </div><br><br><br><br>
        </div>
      </div><br><br>
    </div>
  </body>
</html>
{% endblock %}
