{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
      $(function(){
      if(localStorage.getItem("cart") === null)
        {
          var cart = {};
          window.localStorage.setItem('cart',JSON.stringify(cart));
        }

        var cart = JSON.parse(localStorage.getItem("cart"))
        let cart_ids = Object.keys(cart)
        function findTotal(cart) {
          let sum = 0;
          cart_ids.forEach(myFunction);
          function myFunction(key) {
            var item_price = Number({{data.1.1}})
            alert(item_price)
            sum += Number(item_price)*cart[key];
            //alert(item_price)
            document.getElementById('q'+key).value = cart[key];
          }
          return sum;
        }
      let total = findTotal(cart);
      alert('Total = '+ total);

      if(total < 2000){
        $('#checkout').prop('disabled', true);
        $('#cartval').display = "block";
      }
      else {
        $('#cartval').hide();
      }
    });
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="panel panel-success">
        <div class="panel-heading">User Cart</div>
        <div class="panel-body">
           <div class="table-responsive">
             <table class="table table-striped">
               <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
              </thead>
              {% for i,j in data.items %}
              <tr>
                <td><img src="https://dummyimage.com/50x50/55595c/fff" /></td>
                <td>{{j.0}} ({{j.3}} ml)</td>
                <td>{{j.2}}</td>
                <td><input type="number" id="q{{i}}" min="1" max="20" style="width:50px;"></input></td>
                <td id='p{{i}}' class="text-right">Rs. {{j.1}}</td>
                <td class="text-right"><button class="btn btn-sm btn-danger" id="{{i}}"> Remove</button> </td>
              </tr>
          {% endfor %}
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Grand Total</strong></td>
                <td id="grandTotal" class="text-right"><strong>Rs. {{total}}</strong></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right"><button type="button" name="checkout" id="checkout" class="btn btn-lg  btn-success text-uppercase"> Checkout </button>
                  <div class="text-danger">
                    <span id="cartval"> Cart value must be Rs 2000 or more.</span>
                  </div>
                </td>
              </tr>
             </table>
            </div>
          </div>
  </body>
</html>
{% endblock %}
