{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    .disclaimer{
      border:1px solid #d1c7ac;
      width: 730px;
      color:#333333;
      padding:3px;
      font-size: 20px;
      margin-right:4px;
      margin-bottom:8px;
      margin-left: 25%;
      font-family:tahoma, arial, sans-serif;
    }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="disclaimer text-center">
          <h1> Disclaimer : </h1>

          This Whatsapp Weblink is created only for Home Delivery System <br> for customer convenience

          to deal with difficult times of Covid 19 and <br> will be valid only till the pandemic exists.

          Shivam Wines Whats app Weblink does not have a payment Gateway.

          Do not make any payments nor share any <br> OTP online in the name of Shivam Wines.

          On any sites / electronic Media or <br> any such facility we shall not be liable

          for any such transactions.<br>

          Minimum Age to place Home Delivery order is 25 years.<br>

          Liquor will be sold only to Liquor Permit Holders.<br>

          Incase the person ordering does not have a Liquor Permit Customer will have<br>

          to buy a Rs.5 one day Liquor Permit Compulsory with every order.<br>

          Maximum order Quantity (Per Month) :<br>

          IMFL - 12 Units (1000ml)<br>
          Or<br>
          Beer - 48 Units (650ml).<br>
          Or<br>
          Wine - 24 Units<br>
      </div>
    </div>
  </body>
</html>

{% endblock %}
