{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"></script>
  <script src="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <meta charset="utf-8">
    <title> Products </title>

  <script>
      $(document).ready( function () {
        if(localStorage.getItem("cart") === null)
          {
            var cart = {};
            window.localStorage.setItem('cart',JSON.stringify(cart));
          }

         $('#table_id').DataTable();
      } );

      function cart(id,qt){
        var cart = JSON.parse(localStorage.getItem('cart'));
        var quantity = Number(qt);
        if (quantity > 20){
          quantity = 20
        }
        if (quantity < 1)
        {
          quantity = 1
        }
        if (cart.hasOwnProperty(id))
        {
          cart[id] = Number(cart[id]) + quantity
        }
        else {
          cart[id] = quantity;
        }
        window.localStorage.setItem("cart", JSON.stringify(cart));
        alert('Added successfully!')
      }

    </script>
  </head>
  <body>
    <div class="container-fluid">

      <div class="row"style="margin-top:70px;">

        <div class="col-sm-12" style="">





          <table id="table_id" class="display">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Category</th>
                  <th>Quantity(ML)</th>
                  <th>Cart</th>

              </tr>
          </thead>
          <tbody>
            {% for i,j in data_items.items %}

            <tr>

              {% for k in j %}

               <td > <a href="View_product/{{i}}" id="{{i}}" class='k'> {{k}}</a> </td>

              {% endfor %}
              <td>
                <input type="number" id="q{{i}}" min="1" max="20" style="width:50px;"></input>
                <button type="button" class="btn btn-success" id="{{i}}" onclick="cart(this.id,document.getElementById('q{{i}}').value)">Add Cart</button>
              </td>
              </tr>




                 {% endfor %}

            </tbody>
            </table>








        </div>

      </div>

    </div>
  <script>

  </script>
  </body>

</html>
               {% endblock %}
