{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
    <style media="screen">
      html{
        font-family:tahoma, arial, sans-serif;
      }
    </style>
    <script>
      $(function()
      {
        $('#invalid').prop('hidden', true);
      });

      function getDetails()
      {
        var id = document.getElementById('oid').value;
        if (id < 1 || id > 9999 || id === null)
        {
          $('#invalid').prop('hidden', false);
        }
        else {
          // Fetch Details
          $('#invalid').prop('hidden', true);
        }

      }
    </script>
  </head>
  <body>
    <div class="container-fluid" style="margin-left:200px;margin-right:200px;">
      <div class="row">
        <div class="col-lg">
            <input type="text" id='oid'></input>
        </div>
        <br>
        <div class="col-lg">
          <div class="btn btn-primary btn-block" onclick="getDetails()">
            Submit
          </div>
        </div>
        <div class="row">
          <div class="panel text-danger" id='invalid'>
            Invalid order ID
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
